[Unit]
Description=Starts PI MQTT-GPIO
ConditionFileNotEmpty=/root/pi-mqtt-gpio.yaml

[Service]
ExecStart=/opt/pi-mqtt-gpio/start-mqtt-gpio.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pimqttgpio
WorkingDirectory=/tmp

[Install]
WantedBy=basic.target
